## Exploratory Data Analysis

### Packages & Modules

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"..\data\2017_CO2_IntensEL_EEA.csv")

In [3]:
df.shape

(924, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CountryShort  924 non-null    object
 1   CountryLong   924 non-null    object
 2   Year          924 non-null    int64
 3   ValueNumeric  924 non-null    float64
 4   Unit          924 non-null    object
 5   Data_source   924 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 43.4+ KB

In [6]:
df.describe()

              Year  ValueNumeric
count   924.000000    924.000000
mean   2003.500000    421.214865
std       8.082122    288.540983
min    1990.000000     -0.089447
25%    1996.750000    191.996947
50%    2003.500000    414.582838
75%    2010.250000    567.558263
max    2017.000000   1396.100209

In [19]:
df['ValueNumeric'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0      531.232975
1      516.034467
2      503.571112
3      473.999118
4      469.013303
          ...
919     20.978275
920     21.272071
921     19.836942
922     18.271347
923     18.923246
Name: ValueNumeric, Length: 924, dtype: float64>