## Exploratory Data Analysis

### BASIC ANALYSIS

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"..\data\co2-emission-intensity-15 +GDP.csv")

In [6]:
df

,Year,Country,Clean GW,Fossil GW,Gas and Other Fossil GW,"Hydro, Bioenergy and Other Renewables GW",Renewables GW,Wind and Solar GW,Bioenergy GW,Coal GW,...,Coal mtCO2,Gas mtCO2,Hydro mtCO2,Nuclear mtCO2,Other Fossil mtCO2,Other Renewables mtCO2,Solar mtCO2,Wind mtCO2,Total emissions mtCO2,"GDP per capita,PPP"
0,2000,Sweden,27.73,6.68,6.39,18.06,18.27,0.21,1.51,0.29,...,1.58,0.15,1.87,0.28,1.74,0.00,0.00,0.01,6.52,40625.363
1,2001,Sweden,28.15,6.35,6.06,18.41,18.71,0.30,1.80,0.29,...,1.81,0.13,1.88,0.35,2.56,0.00,0.00,0.01,7.56,41103.727
2,2002,Sweden,27.78,5.39,5.10,17.97,18.33,0.36,1.69,0.29,...,2.28,0.18,1.58,0.33,2.97,0.00,0.00,0.01,8.25,41870.258
3,2003,Sweden,27.74,6.30,6.01,17.88,18.30,0.42,1.69,0.29,...,2.74,0.23,1.27,0.33,3.72,0.00,0.00,0.01,9.28,42678.285
4,2004,Sweden,28.60,6.30,6.01,18.65,19.13,0.48,2.22,0.29,...,0.97,0.24,1.43,0.37,2.70,0.00,0.00,0.01,7.28,44354.390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,2018,United Kingdom,53.18,49.84,37.47,9.25,43.92,34.67,6.48,12.37,...,16.20,63.05,0.13,0.31,6.15,0.00,0.60,0.72,94.72,46412.540
640,2019,United Kingdom,55.94,47.94,38.29,9.44,46.68,37.24,6.58,9.65,...,6.66,63.29,0.14,0.27,6.05,0.00,0.59,0.81,85.90,46909.080
641,2020,United Kingdom,0.59,0.81,85.90,56.04,44.43,38.10,8.77,46.78,...,5.29,53.43,0.16,0.24,6.80,0.61,0.96,76.00,56.34,41895.824
642,2021,United Kingdom,0.61,0.96,76.00,56.34,44.68,38.35,8.85,48.51,...,6.28,59.06,0.13,0.22,7.17,0.58,0.83,82.89,60.12,45567.570
643,2022,United Kingdom,0.58,0.83,82.89,60.12,43.70,38.47,8.88,52.29,...,5.37,60.09,0.13,0.23,8.26,0.66,1.03,83.43,60.65,47587.168

In [7]:
df.shape

(644, 69)

In [14]:
df.columns.to_list()

['Year',
 'Country',
 'Clean GW',
 'Fossil GW',
 'Gas and Other Fossil GW',
 'Hydro, Bioenergy and Other Renewables GW',
 'Renewables GW',
 'Wind and Solar GW',
 'Bioenergy GW',
 'Coal GW',
 'Gas GW',
 'Hydro GW',
 'Nuclear GW',
 'Other Fossil GW',
 'Other Renewables GW',
 'Solar GW',
 'Wind GW',
 'Demand TWh',
 'Demand per capita MWh',
 'Clean %',
 'Fossil %',
 'Gas and Other Fossil %',
 'Hydro, Bioenergy and Other Renewables %',
 'Renewables %',
 'Wind and Solar %',
 'Clean TWh',
 'Fossil TWh',
 'Gas and Other Fossil TWh',
 'Hydro, Bioenergy and Other Renewables TWh',
 'Renewables TWh',
 'Wind and Solar TWh',
 'Bioenergy %',
 'Coal %',
 'Gas %',
 'Hydro %',
 'Nuclear %',
 'Other Fossil %',
 'Other Renewables %',
 'Solar %',
 'Wind %',
 'Bioenergy TWh',
 'Coal TWh',
 'Gas TWh',
 'Hydro TWh',
 'Nuclear TWh',
 'Other Fossil TWh',
 'Other Renewables TWh',
 'Solar TWh',
 'Wind TWh',
 'Total Generation TWh',
 'Net Imports TWh',
 'Clean mtCO2',
 'Fossil mtCO2',
 'Gas and Other Fossil mtCO2',
 'Hydro, Bioenergy and Other Renewables mtCO2',
 'Renewables mtCO2',
 'Wind and Solar mtCO2',
 'CO2 intensity gCO2/kWh',
 'Bioenergy mtCO2',
 'Coal mtCO2',
 'Gas mtCO2',
 'Hydro mtCO2',
 'Nuclear mtCO2',
 'Other Fossil mtCO2',
 'Other Renewables mtCO2',
 'Solar mtCO2',
 'Wind mtCO2',
 'Total emissions mtCO2',
 'GDP per capita,PPP']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 69 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Year                                         644 non-null    int64
 1   Country                                      644 non-null    object
 2   Clean GW                                     644 non-null    float64
 3   Fossil GW                                    644 non-null    float64
 4   Gas and Other Fossil GW                      644 non-null    float64
 5   Hydro, Bioenergy and Other Renewables GW     644 non-null    float64
 6   Renewables GW                                644 non-null    float64
 7   Wind and Solar GW                            644 non-null    float64
 8   Bioenergy GW                                 644 non-null    float64
 9   Coal GW                                      644 non-null    float64
 10  Gas GW                                       644 non-null    float64
 11  Hydro GW                                     644 non-null    float64
 12  Nuclear GW                                   644 non-null    float64
 13  Other Fossil GW                              644 non-null    float64
 14  Other Renewables GW                          644 non-null    float64
 15  Solar GW                                     644 non-null    float64
 16  Wind GW                                      644 non-null    float64
 17  Demand TWh                                   644 non-null    float64
 18  Demand per capita MWh                        644 non-null    float64
 19  Clean %                                      644 non-null    float64
 20  Fossil %                                     644 non-null    float64
 21  Gas and Other Fossil %                       644 non-null    float64
 22  Hydro, Bioenergy and Other Renewables %      644 non-null    float64
 23  Renewables %                                 644 non-null    float64
 24  Wind and Solar %                             644 non-null    float64
 25  Clean TWh                                    644 non-null    float64
 26  Fossil TWh                                   644 non-null    float64
 27  Gas and Other Fossil TWh                     644 non-null    float64
 28  Hydro, Bioenergy and Other Renewables TWh    644 non-null    float64
 29  Renewables TWh                               644 non-null    float64
 30  Wind and Solar TWh                           644 non-null    float64
 31  Bioenergy %                                  644 non-null    float64
 32  Coal %                                       644 non-null    float64
 33  Gas %                                        644 non-null    float64
 34  Hydro %                                      644 non-null    float64
 35  Nuclear %                                    644 non-null    float64
 36  Other Fossil %                               644 non-null    float64
 37  Other Renewables %                           644 non-null    float64
 38  Solar %                                      644 non-null    float64
 39  Wind %                                       644 non-null    float64
 40  Bioenergy TWh                                644 non-null    float64
 41  Coal TWh                                     644 non-null    float64
 42  Gas TWh                                      644 non-null    float64
 43  Hydro TWh                                    644 non-null    float64
 44  Nuclear TWh                                  644 non-null    float64
 45  Other Fossil TWh                             644 non-null    float64
 46  Other Renewables TWh                         644 non-null    float64
 47  Solar TWh                                    644 non-null    float64
 48  Wind TWh                                     644 non-null    float64
 49  Total Generation TWh                         644 non-null    float64
 50  Net Imports TWh                              644 non-null    float64
 51  Clean mtCO2                                  644 non-null    float64
 52  Fossil mtCO2                                 644 non-null    float64
 53  Gas and Other Fossil mtCO2                   644 non-null    float64
 54  Hydro, Bioenergy and Other Renewables mtCO2  644 non-null    float64
 55  Renewables mtCO2                             644 non-null    float64
 56  Wind and Solar mtCO2                         644 non-null    float64
 57  CO2 intensity gCO2/kWh                       644 non-null    float64
 58  Bioenergy mtCO2                              644 non-null    float64
 59  Coal mtCO2                                   644 non-null    float64
 60  Gas mtCO2                                    644 non-null    float64
 61  Hydro mtCO2                                  644 non-null    float64
 62  Nuclear mtCO2                                644 non-null    float64
 63  Other Fossil mtCO2                           644 non-null    float64
 64  Other Renewables mtCO2                       644 non-null    float64
 65  Solar mtCO2                                  644 non-null    float64
 66  Wind mtCO2                                   644 non-null    float64
 67  Total emissions mtCO2                        644 non-null    float64
 68  GDP per capita,PPP                           643 non-null    float64
dtypes: float64(67), int64(1), object(1)
memory usage: 347.3+ KB

In [9]:
df.describe()

,Year,Clean GW,Fossil GW,Gas and Other Fossil GW,"Hydro, Bioenergy and Other Renewables GW",Renewables GW,Wind and Solar GW,Bioenergy GW,Coal GW,Gas GW,...,Coal mtCO2,Gas mtCO2,Hydro mtCO2,Nuclear mtCO2,Other Fossil mtCO2,Other Renewables mtCO2,Solar mtCO2,Wind mtCO2,Total emissions mtCO2,"GDP per capita,PPP"
count,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,...,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,643.000000
mean,2011.000000,15.702112,14.772873,8.952997,5.610947,11.403835,6.032966,0.822826,6.425109,7.742438,...,27.085512,10.226925,0.284394,0.153416,3.949953,0.011460,0.113168,0.466615,42.797780,39916.030266
std,6.638406,26.380704,20.866758,14.736488,8.093933,19.389672,15.111843,1.528885,11.439167,13.606806,...,53.697820,18.111298,0.440127,0.385972,6.479959,0.057103,0.333107,5.506747,68.562641,18795.808925
min,2000.000000,0.000000,0.060000,0.060000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090000,10504.843000
25%,2005.000000,1.767500,2.505000,1.432500,0.397500,1.040000,0.080000,0.030000,0.280000,0.660000,...,0.490000,0.680000,0.010000,0.000000,0.527500,0.000000,0.000000,0.000000,5.285000,28250.153500
50%,2011.000000,4.980000,6.370000,2.930000,1.840000,3.755000,0.680000,0.190000,1.895000,2.140000,...,6.315000,2.945000,0.080000,0.020000,2.120000,0.000000,0.000000,0.010000,15.395000,37482.105000
75%,2017.000000,15.167500,11.250000,6.925000,6.510000,12.605000,4.537500,0.870000,6.795000,6.507500,...,23.405000,7.992500,0.370000,0.110000,4.010000,0.000000,0.040000,0.090000,45.087500,47610.140500
max,2022.000000,153.340000,84.740000,85.900000,60.120000,149.140000,133.640000,9.300000,52.550000,73.330000,...,297.540000,84.500000,1.880000,2.180000,62.090000,0.660000,2.890000,83.430000,348.230000,120647.820000

In [10]:
df.Year.value_counts()

2000    28
2012    28
2021    28
2020    28
2019    28
2018    28
2017    28
2016    28
2015    28
2014    28
2013    28
2011    28
2001    28
2010    28
2009    28
2008    28
2007    28
2006    28
2005    28
2004    28
2003    28
2002    28
2022    28
Name: Year, dtype: int64

In [13]:
df.sort("Year")

AttributeError: 'DataFrame' object has no attribute 'sort'